.listFile{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.nonFile{
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: var(--main-color);
}
.selectStatus{
    height: 30px;
}
.popup-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.popup-button .btn{
    width: 200px;
}